<h2 class="container" appHighlight appHover> This is Custom Directive</h2>
<input appHighlight type="text">
<div class="container" setbackground appHover>
  <p>This a paragrapg from app component custom directive</p>
</div>

<div class="container" appBgbyhostbinding [defaultColor]="'Pink'" [highLightColor]="'Red'">
  <p>This a paragraph's background is controlled by @hostbinding</p>
</div>
<div [appClass]="{container:true, 'change-font': true}">  
  <p>This paragrapg is controlled by custom class [appClass] like [ngClass]</p>
</div>
<!-- Note : in order to use [display] property we must have to pass directive selsector appClass, incase we try using [display] directclty Angular will throw an error
'Can't bind to 'display' since it isn't a known property of 'div'' Because Angular looks into selector first.
=========appClass [display]="{container:true, 'change-font': true}"======== 
2. Also appClass can be passed as alias from directive.ts @Input('appClass') and then we can use appClass as attribute like below
=========[appClass]="{container:true, 'change-font': true}"================

3. 3rd way of using custom appClass is by naming the setter property same as directive selector name in directive.ts as below
 @Input() set appClass(value : Object){
    and then it can be used as attribute
    [appClass]="{container:true, 'change-font': true}"
-->
<div [appShowonlyOnTuesday]="isTuesday == 2">
<p>Yes, today is Tueday. This is shown by showonlyOnTuesday directive by adding directive conditionly <i>[appShowonlyOnTuesday]="isTuesday == 2"</i> where 2 is seq number of week day </p>
</div>

<div [appStyle] ="{backgroundColor: active ? 'green' : 'grey', color:'black', fontWeight:'bold',fontSize:'25px'}">
  <p>this paragraph is controlled by [appStyle] directive like inbuilt [ngStyle] </p>
</div>

<div>
  <button class="btn-showNotice" (click)="showNotice()">Show Notice</button>
</div>
<div class="spanArea" *appIf="display">
  <span>
    This is span area which will be shown and hidden by clicking the button above.
  </span>
</div>

<!-- <div class="spanArea" *ngIf="display; else defaultNotice">
  <span>
    This is span area which will be shown and hidden by clicking the button above.
  </span>
</div> -->
<!-- <ng-template [ngIf]="display" [ngIfElse]="defaultNotice">
  <div class="spanArea">
    <span>
      This is span area which will be shown and hidden by clicking the button above.
    </span>
  </div>
</ng-template> -->
<!-- <ng-template #defaultNotice>
  <div class="spanArea">
    <span>
      This is default notice that there is no notice.
    </span>
  </div>
</ng-template> -->
<p *appIf="10 > 5">This is another use of *appIf directive </p>

<div [ngSwitch]="occupation">
<p *ngSwitchCase="'Teacher'">Occupation is Teacher</p>
<p *ngSwitchCase="'Doctor'">Occupation is Doctor</p>
<p *ngSwitchDefault >Occupation doesn't match</p>
</div>